services:
  backend:
    build: ./backend
    container_name: todo-backend
    volumes:
      - ./backend/app:/code/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/tododb
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: todo-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: npx vite --host 0.0.0.0 --port 5173

  db:
    image: postgres:16
    container_name: todo-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tododb
    ports:
      - "5433:5433"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pgdata:
